html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/

a {
    text-decoration: none;
    color: #000;
}


/** Header y Navegación **/
.nombre-sitio {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.nombre-sitio span{
    font-size: 2rem;
    color: #037bc0
}
.nav-contenedor {
    border-color: #333232;
    border-top-style: solid;
    border-width: 1px;
}
.nav-principal {
    padding: 20px 0;
}

.hero {
    background-image: url(./assets/principal.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}